<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add food</title>
</head>
<body>
    <form method="POST" >    
        <input type="text" placeholder="Title" name="Title" required><br><br>

        <input type="text" placeholder="Description" name="Description" required><br><br>
    
        <input type="text" placeholder="Image Link" name="Link" required><br><br>
    
        <select name="Type">
            <option value="Eat">Eat</option>
            <option value="Drink">Drink</option>
        </select><br><br>

        <button>Submit</button>
    </form>
</body>
</html>