<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <H1>Input your login detail below</H1><br>
    <form action="/login" method="POST">
        <input type="text" placeholder="ID" name="ID"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="submit" value="Login">
        <input type="reset" value="Reset">
    </form>
    <br><br><br>
    <form action="/register" method="POST">
            <input type="text" placeholder="username" name="username"><br>
            <input type="password" placeholder="reg_password" name="reg_password"><br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
</body>
</html>