<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike rental form</title>
</head>
<body>
    <form method="POST">
        <b>Model</b>
        <input type="text" placeholder="e.g Honda" name="Model"><br>
        <b>Daily fee (VND)</b>
        <input type="text" placeholder="VND" name="Daily_fee"><br>
        <b>Image</b>
        <input type="text" placeholder="e.g www.hondaxemay.com" name="Image"><br>
        <b>Year</b>
        <input type="text" placeholder="e.g.2014" name="Year"><br>
        <input type="submit" placeholder="Submit">
    </form>
</body>
</html>